@media screen and (max-width: 768px) {
    .best_roof_nav {
        margin-bottom: 83px;
    }

    .section_title {
        font-size: 36px;
        line-height: 47px;
        text-align: start;
    }

    .article_text {
        font-size: 18px;
        line-height: 30px;
    }

    .best_roof .slider_menu {
        justify-content: center;
    }

    .slider_gallery {
        justify-content: center;

    }

    .slider_card {
        display: none;
    }

    .slider_card:first-child {
        display: block;
    }
}