@media screen and (max-width: 1600px) {
    .info_section {
        margin-bottom: 77px;
    }

    .block_wrapper {
        height: 810px;
    }

    .info_block_img {
        width: 649px;
        height: 608px;
    }

    .info_text {
        width: 660px;
        gap: 30px;
        display: flex;
        flex-direction: column;
    }

    .info_block_img + .slider_menu {
        display: none;
    }
}