@media screen and (max-width: 320px) {
    .left_banner {
        background-image: url("../../images/banners/MainHouse320.png");
        width: 320px;
        height: 570px;
    }

    .right_banner {
        display: none;
    }

    .banner_info {
        margin: 400px 0px 0px 20px;
    }

    .banner_subtitle {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 4px;
    }

    .banner_title {
        font-size: 36px;
        line-height: 47px;
        margin-bottom: 14px;
    }

    .banner_menu {
        left: 20px;
        bottom: 10px;
        gap: 2px;

    }

    .banner_menu_highlight {
        width: 68px;
        height: 2px;
        margin-bottom: 0px;

    }

    .banner_menu_text {
        display: none;
    }
}