@media screen and (max-width: 320px) {
    .roof_harmony {
        margin-bottom: 80px;
    }

    .roof_harmony .section_title {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 30px;
    }

    .harmony_card,
    .harmony_card img {
        width: 280px;
        height: 280px;
    }

    .harmony_cards {
        margin-bottom: 40px;
    }

    .harmony_cards div:not(:first-child) {
        display: none;
    }

    .roof_harmony .slider_menu {
        display: flex;
        justify-content: center;
    }
}