.goto_wrapper {
    display: flex;
    align-items: center;
}

.goto_text {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-right: 20px;
}

.goto_button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #F8F8F8;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goto_button img:last-child {
    display: none;
}

.goto_button:hover {
    background: #E30613 !important;
}

.goto_button:hover img:last-child {
    display: block;
}

.goto_button:hover img:first-child {
    display: none;
}