@media screen and (max-width: 320px) {

    .header {
        height: 50px;
        background-color: aquamarine;
    }

    .header_title {
        padding: 0 38px 0 20px;
    }

    .header_right {
        gap: 20px;
    }

    .favorites_button {
        margin-right: 0px;
    }

    .city_button {
        margin-right: 0px;
    }

    .city_button span {
        display: none;
    }

    .basket_button {
        border: none;
        margin-right: 30px;
        padding: 0px;

    }

    .basket_button span {
        display: none;
    }

    .burger_menu {
        display: none;
    }

    .city_button img {
        margin-right: 0px;
    }

    .basket_button img {
        margin-right: 0px;
    }
}