@media screen and (max-width: 768px) {
    .header {
        height: 50px;
        justify-content: space-between;
        padding: 0px;

    }

    .header_wrapper {
        max-width: 100%;
    }

    .header_title {
        padding-left: 50px;
        padding-right: 167px;
    }

    .header_right {
        gap: 0px;
    }

    .header nav {
        display: none;
    }

    .favorites_button,
    .city_button,
    .basket_button {
        font-size: 12px;
    }

    .favorites_button {
        margin-right: 33px;
    }

    .city_button {
        margin-right: 80px;
    }

    .basket_button {
        border: 1px solid #C3C3C3;
        margin-right: 20px;
    }

    .basket_button {
        padding: 0 16px;
    }

    .burger_menu {
        display: flex;
    }

}