@media screen and (max-width: 1600px) {
    .map {
        height: 604px;
        background-image: url('../../images/mapSection/Map1600.svg');
    }

    .map_buttons {
        gap: 100px;
        top: 253px;
        left: 390px;
    }
}