@media screen and (max-width: 768px) {
    .map {
        background-image: url('../../images/mapSection/Map320.png');
    }

    .map_buttons {
        top: 200px;
        left: 20px;
    }

    .map_button {
        width: 280px;
        height: 80px;
    }

    .button_left_content {
        width: 80px;
        height: 80px;
    }

    .button_right_content {
        width: 200px;
        height: 80px;
    }

    .right_content_text .small_text {
        font-size: 8px;
        line-height: 10px;
    }

    .right_content_text .bold_text {
        font-size: 14px;
        line-height: 18px;
    }
}