@media screen and (max-width: 1600px) {
    .roof_inspiration {
        margin-bottom: 100px;
    }

    .roof_inspiration .section_title {
        margin-bottom: 145px;
    }

    .inspiration_cards {
        gap: 29px;
        margin-bottom: 60px;

    }

    .inspiration_card:nth-child(even) {
        top: -70px;
    }

    .inspiration_card,
    .inspiration_card img {
        width: 328px;
        height: 519px;
    }
}