.roof_inspiration {
    margin-bottom: 133px;
}

.roof_inspiration .section_title {
    margin-bottom: 175px;
    text-align: left;
}

.inspiration_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    margin-bottom: 35px;

}

.inspiration_card:nth-child(even) {
    top: -100px;
}

.inspiration_card {
    width: 380px;
    height: 600px;
    position: relative;
}

.roof_inspiration .goto_wrapper {
    justify-content: center;
}

.roof_inspiration .goto_text {
    text-transform: uppercase;
}

.roof_inspiration .slider_menu {
    display: none;
}