.offer_section {
    margin-bottom: 125px;
}

.offers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer_card {
    width: 760px;
    height: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

.offer_card_content {
    display: flex;
    flex-direction: column;
    width: 284px;
    gap: 35px;
    margin-left: 60px;
}

.offer_card_title {
    font-size: 32px;
    line-height: 36px;
}

.offer_card_img {
    width: 360px;
    height: 380px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 8px;
}