@media screen and (max-width: 320px) {
    .offer_section {
        margin-bottom: 75px;
    }

    .offers {
        flex-direction: column;
        justify-content: center;
        gap: 25px;
    }

    .offer_card {
        width: 280px;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        border: none;
        border-radius: none;
    }

    .offer_card_content {
        width: 280px;
        gap: 20px;
        margin-left: 0px;
    }

    .offer_card_title {
        font-size: 30px;
        line-height: 39px;
    }

    .offer_card_img {
        width: 280px;
        height: 300px;
        border-top-right-radius: none;
        border-bottom-right-radius: none;
        margin-bottom: 0px;
    }

    .offer_card_content .goto_wrapper {
        margin-bottom: 20px;
    }
}