.footer {
    height: 230px;
    background: #363636;
}

.footer_media {
    display: none;
}

.footer_top_content,
.footer_middle_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #707070;
}

.footer_top_content {
    height: 98px;
}

.footer_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.nav_item {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer_hotline {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hotline_text,
.bottom_left_content,
.bottom_right_content {
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.hotline_phone {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer_middle_content {
    height: 80px;
}

.middle_left_content,
.middle_links,
.middle_right_content {
    display: flex;
    align-items: center;
}

.middle_left_content,
.middle_right_content {
    gap: 10px;
}

.middle_links {
    gap: 50px;
}

.middle_left_content button {
    border: 1px solid #707070;
    border-radius: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 11px 37px;
}

.middle_right_content button {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E30613;
    border-radius: 10px;
    padding: 12px 30px;
}

.footer_bottom_content {
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}