.roof_estimate {
    margin-bottom: 130px;
}

.roof_estimate .section_title {
    text-align: left;
    margin-bottom: 56px;
}

.estimate_settings {
    margin-bottom: 110px;
}

.estimate_step_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 70px;
}

.estimate_step_info .additional_text {
    margin-left: 30px;
}


.roof_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}

.roof_card {
    width: 249px;
    height: 339px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.roof_card_img {
    width: 249px;
    height: 300px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chosen_roof {
    background-color: #F9F7F6;
}

.mark_roof {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E30613;
    border-radius: 50%;
}

.steps_controller {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.step_counter {
    font-size: 20px;
    line-height: 26px;
    margin-right: 495px;
}

.tagline {
    font-size: 60px;
    line-height: 78px;
    text-align: start;
}

.roof_cards + .slider_menu {
    display: none;
}