.interesting_block_wrapper {
    height: 1371px;
    background: #F9F7F6;
}

.interesting_section .section_title {
    text-align: left;
    padding-top: 138px;
    padding-bottom: 90px;
}

.interesting_section .slider_menu {
    display: none;
}

.interesting_section_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.phone_content {
    width: 449px;
    height: 923px;
}

.news_cards {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.news_card {
    width: 498px;
    height: 923px;
    background: #FFFFFF;
    border-radius: 5px;
}

.news_image {
    width: 498px;
    height: 500px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.news_content {
    height: 423px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news_date {
    font-size: 14px;
    line-height: 30px;
}

.news_card_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
}