@media screen and (max-width: 1600px) {
    .interesting_block_wrapper {
        height: 1086px;
    }

    .interesting_section .section_title {
        padding-top: 88px;
    }

    .interesting_section_content {
        align-items: center;
    }

    .phone_content,
    .phone_content img {
        width: 360px;
        height: 737px;
    }


    .news_cards {
        gap: 50px;
    }

    .news_card {
        width: 429px;
        height: 640px;
    }

    .news_image {
        width: 429px;
        height: 290px;
    }

    .news_content {
        height: 350px;
        padding: 25px;
    }

    .news_date {
        font-size: 12px;
        line-height: 26px;
    }

    .news_card_title {
        font-size: 24px;
        line-height: 31px;
    }
}