.best_roofer {
    /* margin-left: 150px; */
    margin-bottom: 130px;
}

.best_roofer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.best_roofer_slider {
    position: relative;
    width: 360px;
    height: 360px;
}

.best_roofer_slider .slider_list {
    width: 360px;
    height: 360px;
    overflow: hidden;
}

.best_roofer_slider .slider_track {
    display: flex;
}

.best_roofer_slider .slider_card {
    width: 360px;
    height: 360px;
}

.best_roofer_slider .article_title_text {
    margin-bottom: 60px;
    width: 308px;
}

.article_title_text {
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
}

.best_roofer_slider .article_text {
    width: 360px;
    margin-bottom: 55px;
}

.best_roofer_slider .slider_menu {
    justify-content: flex-start;
}

.best_roofer_right_content {
    width: 1179px;
    height: 720px;
    position: relative;
    margin-left: 220px;
}

.roofers_img {
    width: 1179px;
    height: 720px;
}

.best_roofer_right_content .slider_menu {
    display: none;
    margin-bottom: 0;
}

.international_award_block {
    position: absolute;
    top: 155px;
    left: -130px;
    width: 440px;
    height: 440px;
    background: #D39269;
    border: 5px solid #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1600px) {
    .best_roofer {
        /* margin-left: 100px; */
        margin-bottom: 80px;
    }

    .best_roofer_right_content {
        width: 937px;
        height: 572px;
        margin-left: 200px;
    }

    .roofers_img {
        width: 937px;
        height: 572px;
    }

    .international_award_block {
        position: absolute;
        top: 123px;
        left: -100px;
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 1430px) {
    .best_roofer {
        margin-bottom: 150px;
    }

    .best_roofer .container {
        flex-direction: column;
    }

    .best_roofer_right_content {
        width: 650px;
        height: 393px;
        position: relative;
        margin-left: 200px;
    }

    .roofers_img {
        width: 650px;
        height: 393px;
        margin-bottom: 30px;
    }

    .international_award_block {
        top: 84px;
        left: -65px;
        width: 240px;
        height: 240px;
    }

    .best_roofer_slider {
        width: 650px;
        height: 300px;
        margin-bottom: 40px;
    }

    .best_roofer_slider .slider_list {
        width: 650px;
        height: 300px;
    }

    .best_roofer_slider .slider_track {
        display: flex;
    }

    .best_roofer_slider .slider_card {
        width: 650px;
        height: 300px;
    }

    .best_roofer_slider .article_text {
        width: 650px;
        margin-bottom: 55px;
    }

    .best_roofer_slider .slider_menu {
        display: none;
    }

    .article_title_text {
        font-size: 40px;
        line-height: 40px;
    }

    .best_roofer_left_content .article_title_text {
        width: 100%;
        margin-bottom: 37px;
    }

    .best_roofer_left_content .slider_menu {
        display: none;
    }

    .best_roofer_right_content + .slider_menu {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

}

@media screen and (max-width: 700px) {
    .best_roofer {
        flex-direction: column;
    }

    .best_roofer_right_content {
        width: 320px;
        height: 195px;
        margin-left: 0px;
    }

    .roofers_img {
        width: 320px;
        height: 195px;
        margin-bottom: 20px;
    }

    .international_award_block {
        display: none;
    }

    .best_roofer_slider {
        position: relative;
        width: 280px;
        height: 320px;
    }

    .best_roofer_slider .slider_list {
        width: 280px;
        height: 320px;
        overflow: hidden;
    }

    .best_roofer_slider .slider_card {
        width: 280px;
        height: 320px;
    }

    .best_roofer_slider + .article_text {
        font-size: 18px;
        line-height: 30px;
    }

    .best_roofer_slider {
        padding: 0px 0px;
    }

    .article_title_text {
        font-size: 30px;
        line-height: 30px;
    }

    .best_roofer_slider {
        max-width: 280px;
        margin: 0 auto;
    }

    .best_roofer_slider .article_text {
        max-width: 280px;
        margin-bottom: 27px;
    }

    .best_roofer_right_content .slider_menu {
        margin-top: 28px;
    }
}