.best_roof {
    margin-top: 30px;
    margin-bottom: 150px;
}

.nav_item,
.best_roof_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.best_roof_nav {
    flex-direction: row;
    /* gap: 30px; */
    margin-bottom: 66px;
}

.nav_wrapper {
    width: 92px;
    height: 92px;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, #f0a042, #f61575, #bd19a5) border-box;
    border-radius: 50%;
    border: 3px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    transition: .4s;
}

.nav_wrapper:hover {
    transform: scale(1.1, 1.1);
}

.nav_wrapper:hover img {
    transform: scale(0.9, 0.9);
}

.nav_wrapper:hover .promo_percent {
    transform: scale(0.9, 0.9);
}

.nav_wrapper img {
    width: 80px;
    height: 80px;
    border-radius: 60px;
    background-color: #C9C9C9;
    transition: .4s;
}

.promo_percent {
    width: 80px;
    height: 80px;
    border-radius: 60px;
    background-color: #EA4335;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.promo_percent span {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #FFFFFF;
}

.nav_title {
    width: 136px;
    height: 36px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

.best_roof_info {
    margin-bottom: 62px;
}

.section_title {
    font-size: 60px;
    line-height: 78px;
    text-align: center;
}

.best_roof_info .section_title {
    margin-bottom: 45px;
}

.article_text {
    font-size: 20px;
    line-height: 26px;
}

.slider_gallery {
    position: relative;
    width: 1760px;
}

.slider_gallery .slider_menu {
    margin-right: 150px;
}

.slider_gallery .slider_list {
    width: 1760px;
    overflow: hidden;
}

.slider_gallery .slider_track {
    display: flex;
    gap: 60px;
}

.slider_gallery + .slider_menu {
    display: none;
}

.slider_gallery .slider_card {
    width: 500px;
    height: 500px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    cursor: pointer;
}

.slider_card:hover {
    box-shadow: 0px 10px 20px #0000001a;

}

.slider_img {
    width: 100%;
    height: 400px;
    position: relative;
}

.slider_img img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.image_chooser {
    position: absolute;
    bottom: 10px;
    left: 122px;
    display: flex;
    gap: 5px;
}

.image_chooser_item {
    width: 60px;
    height: 3px;
    background: #FFFFFF;
}

.active_chooser_item {
    background-color: #E30613;
}

.slider_like_card,
.active_like_card {
    position: absolute;
    top: 22px;
    right: 22px;
}

.slider_info {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.left_card_content {
    display: flex;
}

.layers {
    margin-right: 30px;
}

.roof_name,
.roof_pricepermeter {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 3px;
}

.rubl_meter {
    color: #b6b6b6;
}

@media screen and (max-width: 1600px) {
    .best_roof {
        margin-top: 20px;
        margin-bottom: 150px;
    }

    .slider_gallery {
        width: 1500px;
    }

    .slider_gallery .slider_menu {
        margin-right: 100px;
    }

    .slider_gallery .slider_list {
        width: 1500px;
    }

    .article_text {
        font-size: 18px;
        line-height: 23px;
    }
}

@media screen and (max-width: 1430px) {
    .best_roof_nav {
        margin-bottom: 83px;
    }

    .slider_gallery {
        width: 718px;
    }

    .slider_gallery .slider_menu {
        margin-right: 0px;
    }

    .slider_gallery .slider_list {
        width: 718px;
        margin-left: 70px;
    }

    .section_title {
        font-size: 36px;
        line-height: 47px;
        text-align: start;
    }

    .article_text {
        font-size: 18px;
        line-height: 30px;
    }

    .best_roof .slider_menu {
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .best_roof {
        margin-top: 20px;
        margin-bottom: 41px;
    }

    .best_roof_nav {
        margin-bottom: 35px;
        margin-left: 20px;
    }

    .nav_wrapper {
        width: 55px;
        height: 55px;
        border: 2px solid transparent;
        margin-bottom: 3px;
    }

    .nav_wrapper img {
        width: 48px;
        height: 48px;
        border-radius: 36px;
    }

    .promo_percent {
        width: 48px;
        height: 48px;
        border-radius: 36px;
    }

    .promo_percent span {
        font-size: 24px;
        line-height: 31px;
    }

    .nav_title {
        width: 65px;
        height: 24px;
        font-size: 9px;
        line-height: 12px;
    }

    .section_title {
        font-size: 24px;
        line-height: 31px;
    }

    .best_roof .section_title {
        text-align: start;
        margin-bottom: 34px;
    }

    .article_text {
        font-size: 14px;
        line-height: 24px;
    }

    .best_roof_info {
        margin-bottom: 30px;
    }

    .slider_gallery {
        width: 280px;
        display: flex;
        flex-direction: column-reverse;
    }

    .slider_gallery .slider_track {
        gap: 0px;
    }

    .slider_gallery .slider_list {
        width: 280px;
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .slider_gallery .slider_card {
        width: 280px;
        height: 280px;
        border: 1px solid #DDDDDD;
        border-radius: 3px;
    }

    .active_card {
        box-shadow: 0px 6px 11px #0000001a;
    }

    .slider_img {
        width: 280px;
        height: 224px;
        position: relative;
    }

    .slider_img img {
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    .slider_like_card,
    .active_like_card {
        position: absolute;
        top: 11px;
        right: 11px;
    }

    .slider_info {
        height: 56px;
        padding: 0 15px;
    }

    .layers {
        margin-right: 15px;
    }

    .roof_name,
    .roof_pricepermeter {
        font-size: 13px;
        line-height: 17px;
    }

    .image_chooser {
        bottom: 6px;
        left: 90px;
        gap: 3px;
    }

    .image_chooser_item {
        width: 33px;
        height: 2px;
        background: #FFFFFF;
    }
}