.goto_wrapper {
    display: flex;
    align-items: center;
}

.goto_text {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-right: 20px;
}

.goto_button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #F8F8F8;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goto_button img:last-child {
    display: none;
}

.goto_button:hover {
    background: #E30613 !important;
}

.goto_button:hover img:last-child {
    display: block;
}

.goto_button:hover img:first-child {
    display: none;
}

@media screen and (max-width: 1680px) {
    .goto_button {
        width: 30px;
        height: 30px;
    }

    .goto_text {
        margin-right: 10px;
    }
}

@media screen and (max-width: 1050px) {
    .goto_wrapper {
        display: flex;
        align-items: center;
    }

    .goto_text {
        font-size: 14px;
        line-height: 18px;
        margin-right: 9px;
    }

    .goto_button {
        width: 30px;
        height: 30px;
    }
}

.slider_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-bottom: 35px;
}

.slider_items {
    display: flex;
    gap: 20px;
}

.slider_item {
    display: flex;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #E7E7E7;
    cursor: pointer;
}

.active_item {
    background-color: #E30613;
}

.slider_menu button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_menu button:active {
    background-color: #F8F8F8;
}

@media screen and (max-width: 700px) {
    .slider_menu button {
        display: none;
    }
}