@media screen and (max-width: 768px) {
    .goto_wrapper {
        display: flex;
        align-items: center;
    }

    .goto_text {
        font-size: 14px;
        line-height: 18px;
        margin-right: 9px;
    }

    .goto_button {
        width: 30px;
        height: 30px;
    }
}