.header {
    height: 64px;
    background-color: #363636;
    position: relative;
}

.header_wrapper {
    max-width: 1720px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_title {
    padding-right: 55px;
}


.header_navbar {
    color: #fff;
    font-family: "TT Norms Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    display: flex;
    flex-direction: row;
}

.navbar_item {
    height: 64px;
    padding-left: 35px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.dropdown_content {
    display: none;
    position: absolute;
    top: 64px;
    left: 0;
    background-color: #FFFFFF;
    min-width: 300px;
    z-index: 1;
}

.dropdown_content a {
    font-family: 'IBM Plex Sans';
    color: black;
    padding: 11px 0px 11px 35px;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.05em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dropdown_content a:hover {
    background-color: #F1F1F1;
}

.navbar_content img {
    position: absolute;
    top: 30px;
    right: 15px;
}

.navbar_content img:last-child {
    display: none;
}

.navbar_item:hover {
    background: #FFFFFF;
    color: #000000;
}

.navbar_item:hover .dropdown_content {
    display: block;
}

.navbar_item:hover body {
    display: none;
}

.navbar_item:hover img:first-child {
    display: none;
}

.navbar_item:hover img:last-child {
    display: block;
}

.header_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.favorites_button,
.city_button,
.basket_button {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #c3c3c3;
}

.city_hover_img,
.like_hover_img,
.busket_hover_img {
    display: none;
}

.city_button img {
    margin-right: 20px;
}

.city_button:hover .city_img {
    display: none;
}

.city_button:hover .city_hover_img {
    display: block;
}

.favorites_button:hover .like_img {
    display: none;
}

.favorites_button:hover .like_hover_img {
    display: block;
}

.basket_button {
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    padding: 5px 25px 5px 11px;
}

.basket_button:hover {
    background: #E30613;
    border: 1px solid #E30613;
}

.basket_button img {
    margin-right: 15px;
}

/* BURGER BUTTON */
/* .burger_menu {
    display: none;
    width: 50px;
    height: 50px;
    background: #E30613;
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
}

.burger_menu_layer {
    width: 20px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    transition: all 0.3s ease-in-out;
}

.burger_menu .burger_menu_layer:nth-of-type(2) {
    top: calc(50% - 5px);
}

.burger_menu .burger_menu_layer:nth-of-type(3) {
    top: calc(50% + 5px);
}

.burger_menu.active .burger_menu_layer:nth-of-type(1) {
    display: none;
}

.burger_menu.active .burger_menu_layer:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.burger_menu.active .burger_menu_layer:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
} */

/* .mobile_menu {
    position: absolute;
    width: 100%;
    height: 50px;
    background: #F1F1F1;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    display: none;
} */

/* .mobile_menu.active {
    display: flex;
} */

/* .mobile_menu .navbar_item {
    height: 50px;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
}

.mobile_menu .navbar_content img {
    right: 10px;
    top: 22px;
}

.mobile_menu .navbar_content img:last-child {
    display: block;
}

.mobile_menu .dropdown_content {
    top: 50px;
    min-width: 200px;

}

.mobile_menu .dropdown_content a {
    padding: 10px 0px 10px 20px;
    font-size: 14px;
    line-height: 18px;
} */

@media screen and (max-width: 1750px) {
    .header_title {
        padding-right: 90px;
    }

    .header_wrapper {
        max-width: 1400px;
    }

    .header_navbar {
        margin-right: 44px;
    }
}

@media screen and (max-width: 1460px) {
    .header_wrapper {
        max-width: 1230px;
    }

    .header_title {
        padding-right: 20px;
    }

    .navbar_item {
        height: 64px;
        padding-left: 30px;
        padding-right: 25px;
    }

    .navbar_content img {
        right: 10px;
    }

    .header_right {
        gap: 30px;
    }
}

@media screen and (max-width: 1260px) {
    .header_wrapper {
        max-width: 1160px;
    }

    .navbar_item {
        height: 64px;
        padding-left: 25px;
        padding-right: 20px;
    }

    .header_right {
        gap: 20px;
    }
}

@media screen and (max-width: 1200px) {

    .header_wrapper {
        height: 100%;
    }

    .header_title {
        padding-left: 50px;
    }

    .header {
        height: 50px;
        padding: 0px;
    }

    .header_right {
        gap: 0px;
        justify-content: space-between;
    }

    .header_left nav {
        display: none;
    }

    .favorites_button,
    .city_button,
    .basket_button {
        font-size: 12px;
    }

    .favorites_button {
        margin-right: 33px;
    }

    .city_button {
        margin-right: 80px;
    }

    .basket_button {
        border: 1px solid #C3C3C3;
        margin-right: 50px;
    }

    .basket_button {
        padding: 0 16px;
    }

    .burger_menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .header {
        height: 50px;
        display: flex;
    }

    .mobile_menu {
        display: none;
    }

    .header_title {
        padding: 0 38px 0 20px;
    }

    .header_right {
        gap: 20px;
    }

    .favorites_button {
        margin-right: 0px;
    }

    .city_button {
        margin-right: 0px;
    }

    .city_button span {
        display: none;
    }

    .basket_button {
        border: none;
        margin-right: 30px;
        padding: 0px;
    }

    .basket_button span {
        display: none;
    }

    .basket_button:hover {
        background: transparent;
        border: none;
    }

    .basket_button:hover .busket_img {
        display: none;
    }

    .basket_button:hover .busket_hover_img {
        display: block;
    }

    .basket_button img {
        margin-right: 15px;
    }

    .burger_menu {
        display: none;
    }

    .city_button img {
        margin-right: 0px;
    }

    .basket_button img {
        margin-right: 0px;
    }
}