@media screen and (max-width: 768px) {
    .map {
        height: 600px;
        background-image: url('../images/mapSection/Map768.png');
    }

    .map_blackout {
        height: 600px;
    }

    .map_buttons {
        flex-direction: column;
        gap: 30px;
        top: 200px;
        left: 200px;
    }
}