.roof_estimate {
    margin-bottom: 130px;
}

.roof_estimate .section_title {
    text-align: left;
    margin-bottom: 56px;
}

.estimate_settings {
    margin-bottom: 110px;
}

.estimate_step_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 70px;
}

.estimate_step_info .additional_text {
    margin-left: 30px;
}


.roof_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}

.roof_card {
    width: 249px;
    height: 339px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.roof_card_img {
    width: 249px;
    height: 300px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chosen_roof {
    background-color: #F9F7F6;
}

.mark_roof {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E30613;
    border-radius: 50%;
}

.steps_controller {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.step_counter {
    font-size: 20px;
    line-height: 26px;
    margin-right: 495px;
}

.tagline {
    font-size: 60px;
    line-height: 78px;
    text-align: start;
}

.roof_cards + .slider_menu {
    display: none;
}

@media screen and (max-width: 1680px) {
    .roof_estimate {
        margin-bottom: 85px;
    }

    .estimate_settings {
        margin-bottom: 68px;
    }

    .roof_cards {
        width: 1580px;
        gap: 25px;
        overflow: scroll;
        overflow-y: hidden;
    }

    .step_counter {
        margin-right: 340px;
    }
}

@media screen and (max-width: 1450px) {
    .roof_cards {
        width: 1350px;
    }

    .step_counter {
        margin-right: 320px;
    }
}

@media screen and (max-width: 1300px) {
    .roof_cards {
        width: 1200px;
    }

    .step_counter {
        margin-right: 200px;
    }
}

@media screen and (max-width: 1150px) {
    .roof_cards {
        width: 1050px;
    }

    .step_counter {
        margin-right: 225px;
    }
}


@media screen and (max-width: 1050px) {
    .roof_estimate {
        margin-bottom: 90px;
    }

    .roof_estimate .section_title {
        font-size: 40px;
        line-height: 52px;
        margin-bottom: 30px;
    }

    .estimate_settings {
        margin-bottom: 70px;
    }

    .estimate_step_info {
        margin-bottom: 50px;
    }

    .estimate_step_info .additional_text {
        margin-left: 20px;
    }

    .roof_cards {
        gap: 25px;
        margin-bottom: 50px;
        width: 788px;
    }

    .steps_controller {
        justify-content: space-around;
    }

    .step_counter {
        margin-right: 0;
    }

    .tagline {
        font-size: 40px;
        line-height: 52px;
    }
}

@media screen and (max-width: 700px) {
    .roof_estimate {
        margin-bottom: 44px;
    }

    .roof_estimate .section_title {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .estimate_settings {
        margin-bottom: 40px;
    }

    .estimate_step_info {
        margin-bottom: 35px;
    }

    .estimate_step_info .additional_text {
        margin-left: 7px;
    }

    .roof_cards {
        margin-bottom: 35px;
        gap: 20px;
        justify-content: center;
        width: 100%;

    }

    .roof_cards + .slider_menu {
        display: flex;
        justify-content: center;
        margin-bottom: 45px;
    }

    .steps_controller {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .step_counter {
        font-size: 20px;
        line-height: 26px;
        margin-right: 0px;
        margin-bottom: 40px;
    }

    .tagline {
        font-size: 30px;
        line-height: 30px;
        max-width: 202px;
    }

    .roof_cards div:not(:first-child) {
        display: none;
    }
}