.roof_harmony {
    margin-bottom: 150px;
}

.roof_harmony .section_title {
    margin-bottom: 70px;
    text-align: left;
}

.harmony_cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 50px 60px;
}

.harmony_card {
    width: 500px;
    height: 500px;
}