.roof_inspiration {
    margin-bottom: 133px;
}

.roof_inspiration .section_title {
    margin-bottom: 175px;
    text-align: left;
}

.inspiration_cards {
    margin-bottom: 35px;
}

.inspiration_cards .slider_track {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
}

.inspiration_card:nth-child(even) {
    top: -100px;
}

.inspiration_card,
.inspiration_card img {
    width: 380px;
    height: 600px;
    position: relative;
}

.roof_inspiration .goto_wrapper {
    justify-content: center;
}

.roof_inspiration .goto_text {
    text-transform: uppercase;
}

.inspiration_cards .slider_menu {
    display: none;
}

@media screen and (max-width: 1680px) {
    .roof_inspiration {
        margin-bottom: 100px;
    }

    .roof_inspiration .section_title {
        margin-bottom: 145px;
    }

    .inspiration_cards {
        margin-bottom: 60px;
    }

    .inspiration_cards .slider_track {
        gap: 29px;
    }

    .inspiration_card:nth-child(even) {
        top: -70px;
    }

    .inspiration_card,
    .inspiration_card img {
        width: 328px;
        height: 519px;
    }
}

@media screen and (max-width: 1450px) {
    .inspiration_cards .slider_track {
        gap: 20px;
    }

    .inspiration_card,
    .inspiration_card img {
        width: 297px;
        height: 472px;
    }
}

@media screen and (max-width: 1300px) {

    .inspiration_card,
    .inspiration_card img {
        width: 260px;
        height: 459px;
    }
}

@media screen and (max-width: 1150px) {

    .inspiration_card,
    .inspiration_card img {
        width: 380px;
        height: 600px;
    }

    .inspiration_cards .slider_track {
        row-gap: 30px;
        column-gap: 50px;
        justify-content: center;
    }
}

@media screen and (max-width: 1050px) {

    .roof_inspiration {
        margin-bottom: 100px;
    }

    .roof_inspiration .section_title {
        margin-bottom: 85px;
    }

    .inspiration_cards .slider_track {
        flex-direction: row;
        gap: 28px;
    }

    .inspiration_card:nth-child(even) {
        top: -50px;
    }

    .inspiration_card,
    .inspiration_card img {
        width: 320px;
        height: 505px;
    }
}

@media screen and (max-width: 700px) {
    .roof_inspiration {
        margin-bottom: 70px;
    }

    .roof_inspiration .container {
        max-width: 320px;
    }

    .roof_inspiration .section_title {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 30px;
        margin-left: 20px;
    }

    .inspiration_cards {
        width: 320px;
        overflow: hidden;
    }

    .inspiration_cards .slider_list {
        width: 320px;
    }

    .inspiration_cards .slider_track {
        flex-wrap: nowrap;
        gap: 0;
        justify-content: normal;
    }

    .inspiration_card:nth-child(even) {
        top: 0;
    }

    /* .inspiration_cards div:not(:first-child) {
        display: none;
    } */

    .inspiration_cards {
        margin-bottom: 30px;
    }

    .inspiration_cards .slider_menu {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
}