.roof_harmony {
    margin-bottom: 150px;
}

.roof_harmony .section_title {
    margin-bottom: 70px;
    text-align: left;
}

.harmony_cards .slider_track {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 50px 60px;
}

.harmony_card {
    width: 500px;
    height: 500px;
}

.harmony_cards .slider_menu {
    display: none;
}

@media screen and (max-width: 1680px) {
    .roof_harmony {
        margin-bottom: 100px;
    }

    .roof_harmony .section_title {
        margin-bottom: 70px;
    }


    .harmony_cards .slider_track {
        gap: 50px 50px;
    }

    .harmony_card,
    .harmony_card img {
        width: 430px;
        height: 430px;
    }
}

@media screen and (max-width: 1450px) {

    .harmony_cards .slider_track {
        gap: 25px 25px;
    }

    .harmony_card,
    .harmony_card img {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 1300px) {

    .harmony_cards .slider_track {
        gap: 20px 20px;
    }

    .harmony_card,
    .harmony_card img {
        width: 353px;
        height: 353px;
    }
}

@media screen and (max-width: 1150px) {

    .harmony_cards .slider_track {
        gap: 10px 10px;
    }

    .harmony_card,
    .harmony_card img {
        width: 343px;
        height: 343px;
    }
}

@media screen and (max-width: 1100px) {
    .roof_harmony {
        margin-bottom: 100px;
    }

    .roof_harmony .section_title {
        margin-bottom: 30px;
    }

    .harmony_cards .slider_track {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .harmony_card,
    .harmony_card img {
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 700px) {
    .roof_harmony {
        margin-bottom: 80px;
    }

    .roof_harmony .section_title {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 30px;
    }

    .harmony_cards {
        width: 280px;
        overflow: hidden;
    }

    .harmony_cards .slider_list {
        width: 280px;
    }

    .harmony_cards .slider_track {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: normal;
        gap: 0;
    }

    .harmony_card,
    .harmony_card img {
        width: 280px;
        height: 280px;
    }

    .harmony_cards {
        margin-bottom: 40px;
    }

    /* .harmony_cards div:not(:first-child) {
        display: none;
    } */

    .harmony_cards .slider_menu {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}