.collection_config_section {
    padding-bottom: 100px;
}

.collection_config_section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.filter_text {
    font-size: 16px;
    line-height: 21px
}

/* КАСТОМНЫЙ ПЕРЕКЛЮЧАТЕЛЬ */
.collection_switch {
    display: flex;
    align-items: center;
    gap: 15px;
}

.collection_switch span {
    font-weight: 500;
    color: #B6B6B6;
}

.switch {
    position: relative;
    display: inline-block;
    width: 98px;
    height: 50px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F1F1F1;
    transition: .4s;
    border-radius: 60px;
    box-shadow: inset 0px 2px 2px #0000001a;
}

.slider:before {
    position: absolute;
    content: "";
    height: 38px;
    width: 38px;
    left: 5px;
    bottom: 3px;
    background: #E30613;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 2px 8px #0000004d;
    transition: .4s;
    border-radius: 50%;
}

.active_switch .slider:before {
    transform: translateX(45px);
}

.collection_switch .filter_text:first-child {
    color: #000000;
}

.active_switch .filter_text:first-child {
    color: #B6B6B6;
}

.active_switch .filter_text:last-child {
    color: #000000;
}

.collection_switch .filter_text {
    cursor: pointer;
}

/*  */

.collection_filters {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.collection_filters span {
    margin-right: 20px;
}

.filters_block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter_button {
    background: #F1F1F1;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* КАСТОМНЫЙ СЕЛЕКТ */
.selector {
    position: relative;
    cursor: pointer;
}

.selector-display {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector-display:after {
    position: absolute;
    content: url(../images/CustomSelectArrow.svg);
    top: 10px;
    right: 10px;
}

.selector-list {
    position: absolute;
    background-color: #FFFFFF;
    top: 86px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.selector-list li {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector-list li:hover {
    background-color: #F1F1F1;
}

.selector .active {
    background-color: #F1F1F1;
}

/*  */

/* МОДАЛЬНЫЕ ОКНА */
.palette_modal,
.pattern_modal {
    display: block;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
    top: 0;
    left: 0;
}

.modal_content {
    background-color: #fefefe;
    width: 560px;
    padding: 40px 60px;
    position: absolute;
    left: calc(50% - 280px);
}

.pattern_content {
    width: 700px;
    height: 900px;
    left: calc(50% - 350px);
    top: calc(50% - 450px);
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal_title {
    font-size: 30px;
    line-height: 39px;
}

.modal_header img {
    cursor: pointer;
}

.modal_palette_list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 55px;
    column-gap: 40px;
    border-bottom: 1px solid #C9C9C9;
    padding: 50px 0;
}

.modal_palette_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    position: relative;
}

.active_marker {
    position: absolute;
    top: -20px;
    right: -15px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E30613;
    border-radius: 50%;
    display: none;
}

.active_palette {
    display: flex;
    color: #959698;
}

.palette {
    width: 200px;
    height: 60px;
    border-radius: 5px;
}

.modal_palette_item:first-child .palette {
    background-color: #8E6B5D;
}

.modal_palette_item:nth-child(2) .palette {
    background-color: #705043;
}

.modal_palette_item:nth-child(3) .palette {
    background-color: #8D4839;
}

.modal_palette_item:nth-child(4) .palette {
    background-color: #A2988F;
}

.modal_palette_item:nth-child(5) .palette {
    background-color: #AFB0B3;
}

.modal_palette_item:nth-child(6) .palette {
    background-color: #757576;
}

.modal_palette_item:nth-child(7) .palette {
    background-color: #A93131;
}

.modal_palette_item:nth-child(8) .palette {
    background-color: #557D4B;
}

.modal_palette_item:nth-child(9) .palette {
    background-color: #5A92C8;
}

.modal_palette_item:last-child .palette {
    background-color: #000000;
}

.modal_name {
    font-size: 16px;
    line-height: 21px;
    text-decoration-style: dashed;
}

.modal_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
}

.modal_footer_text {
    font-size: 18px;
    line-height: 23px;
}

.modal_pattern_list {
    padding: 50px 0;
    border-bottom: 1px solid #C9C9C9;
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.pattern_type {
    display: flex;
}

.patterns {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.pattern_info {
    max-width: 182px;
    position: relative;
}

.type_name {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin-right: 65px;
}

@media screen and (max-width: 1150px) {
    .collection_filters {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 1050px) {

    .filter_button,
    .selector-display,
    .selector-list li {
        width: 215px;
    }

    .selector-list {
        top: 66px;
    }

    .collection_config_section .container {
        position: relative;
    }

    .collection_config_section .collection_switch {
        position: absolute;
        top: -91px;
        right: 0;
    }
}

@media screen and (max-width: 700px) {
    .filter_text {
        font-size: 12px;
        line-height: 16px
    }

    .collection_config_section .collection_switch {
        position: absolute;
        top: -15px;
        left: 0;
    }

    .switch {
        width: 75px;
        height: 38px;
    }

    .slider {
        border-radius: 46px;
        box-shadow: inset 0px 1px 1px #0000001a;
    }

    .slider:before {
        height: 29px;
        width: 29px;
        border: 2px solid #FFFFFF;
        box-shadow: 0px 1px 6px #0000004d;
    }

    .active_switch .slider:before {
        transform: translateX(33px);
    }


    .filters_block {
        flex-direction: column;
    }

    .filter_button,
    .selector-display,
    .selector-list li {
        width: 280px;
    }
}