.palette_collection .container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 60px;
    padding-bottom: 175px;
}

.roof_collection_card {
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.palette_collection_img {
    width: 100%;
    height: 400px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.palette_collection_info {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.collection_info_left {
    display: flex;
    align-items: center;
}

.collection_layers_info {
    margin-right: 30px;
}

.collection_name_info {
    display: flex;
    flex-direction: column;
}

.palette_collection_name {
    font-size: 14px;
    line-height: 18px;
}

.collection_info_right {
    display: flex;
}

.palette_collection_price,
.rubl_meter,
.palette_name {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}

.rubl_meter {
    color: #b6b6b6;
    margin-left: 5px;
}

.visualization {
    position: absolute;
    top: 22px;
    left: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.visualization:hover .goto_vizualization {
    display: block;
}

.goto_vizualization {
    padding: 5px;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
    line-height: 18px;
    margin-left: 10px;
    display: none;
}

.collection_favorite {
    position: absolute;
    top: 22px;
    right: 22px;
}

.collection_favorite img {
    position: absolute;
    top: 0;
    right: 0;
}

.collection_favorite .active_like {
    display: none;
}

.active_favorite_collection .default_like {
    display: none;
}

.active_favorite_collection .active_like {
    display: block;
}

.collection_additional_content {
    padding: 0 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}

.additional_palette_block {
    display: flex;
    flex-direction: column;
    position: relative;
}

.additional_palette_block .tile_thumbnail {
    width: 99px;
    height: 79px;
    border-radius: 5px;
}

.additional_palette_name {
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
}

.additional_palette_block .active_marker {
    top: -5px;
    right: -10px;
}

.active_additional_palette {
    display: flex;
}

@media screen and (max-width: 1680px) {
    .palette_collection .container {
        column-gap: 55px;
        row-gap: 45px;
    }

    .roof_collection_card {
        width: 430px;
    }

    .palette_collection_img {
        height: 344px;
    }

    .palette_collection_info {
        padding: 25px;
    }

    .collection_layers_info {
        margin-right: 20px;
    }

    .palette_collection_name {
        font-size: 12px;
        line-height: 16px;
    }

    .palette_collection_price,
    .rubl_meter,
    .palette_name {
        font-size: 20px;
        line-height: 26px;
    }

    .collection_additional_content {
        padding: 0 25px 25px 25px;
    }

    .additional_palette_block > img {
        width: 84px;
        height: 68px;
    }

    .additional_palette_name {
        font-size: 13px;
        line-height: 17px;
    }

    .additional_palette_block .active_marker {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 1450px) {
    .palette_collection .container {
        column-gap: 25px;
        row-gap: 25px;
        padding-bottom: 90px;
    }

    .roof_collection_card {
        width: 400px;
    }

    .palette_collection_img {
        height: 320px;
    }

    .palette_collection_info {
        padding: 20px;
    }

    .collection_additional_content {
        padding: 0 20px 20px 20px;
    }
}

@media screen and (max-width: 1300px) {
    .palette_collection .container {
        column-gap: 20px;
        row-gap: 20px;
    }

    .roof_collection_card {
        width: 353px;
    }

    .palette_collection_img {
        height: 282px;
    }

    .palette_collection_info {
        padding: 15px;
    }

    .collection_layers_info {
        margin-right: 15px;
    }

    .collection_additional_content {
        padding: 0 15px 15px 15px;
    }

    .goto_vizualization {
        font-size: 12px;
        line-height: 14px;
    }
}

@media screen and (max-width: 1150px) {
    .roof_collection_card {
        width: 336px;
    }

    .palette_collection_img {
        height: 269px;
    }

    .palette_collection_info {
        padding: 10px;
    }

    .collection_layers_info {
        margin-right: 10px;
    }

    .collection_additional_content {
        padding: 0 10px 10px 10px;
    }
}

@media screen and (max-width: 1050px) {
    .palette_collection .container {
        column-gap: 110px;
        row-gap: 50px;
    }

    .roof_collection_card {
        width: 279px;
    }

    .palette_collection_img {
        height: 223px;
    }

    .palette_collection_name {
        font-size: 10px;
        line-height: 14px;
    }

    .palette_collection_price,
    .rubl_meter,
    .palette_name {
        font-size: 16px;
        line-height: 21px;
    }

    .goto_vizualization {
        padding: 3px;
        font-size: 10px;
        line-height: 12px;
        margin-left: 5px;
    }

    .collection_additional_content {
        gap: 19px;
        justify-content: center;
    }

    .additional_palette_block .tile_thumbnail {
        width: 100px;
        height: 79px;
    }

    .additional_palette_name {
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (max-width: 700px) {

    .palette_collection .container {
        row-gap: 40px;
        padding-bottom: 45px;
    }
}